body {
  margin: 40px;
  font-family: Arial, sans-serif;
  background-color: #BAD7F2;
}

.bloc {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 15px 20px;
  width: fit-content;
  margin-bottom: 20px;
}

.titre {
  font-size: 24px;
  font-weight: bold;
}

.age {
  font-size: 18px;
}

.description {
  max-width: 400px;
  line-height: 1.5;
}

.retour {
     border: 2px solid #333;
  border-radius: 10px;
  padding: 15px 20px;
  width: fit-content;
  margin-bottom: 20px;
  color: #333;
  text-decoration: none;
      color: #333;
      font-size: 18px;
      transition: all 0.3s ease;
    
}

 a:hover {
       color: #BAD7F2;
      background-color: #333;
      padding: 5px 10px;
      border-radius: 5px;
    }
